@page
@model ProjectManagementTool.Pages.LoginModel
@{
}
<form method="post" class="mb-3">
	<label for="GUID-Login" class="form-label">GUID</label>
	<input class="form-control" id="GUID-Login" name="UserId" placeholder="User GUID">
	<button type="submit" class="btn btn-primary mb-3">Submit</button>
</form>
