@page "/projectOverview/{id}"
@using ProjectManagementTool.Models
@using ProjectManagementTool.Models.NonBasicModels
@using Task = ProjectManagementTool.Models.Task
@model ProjectManagementTool.Pages.ProjectOverviewModel
@{
	ViewData["Title"] = "Project overview";
	Layout = null;

	List<Task> tasks = new List<Task>
	{
		new Task
		{
			deadline = DateTime.Now,
			description = "This is a dummy description used for testing, please let me know if you see this after the testing phase since you shouldn't be seeing this.",
			isNew = true,
			title = "Task #1",
			guid = Guid.NewGuid()

		},
		new Task
		{
			deadline = DateTime.Now,
			description = "This is a dummy description used for testing, please let me know if you see this after the testing phase since you shouldn't be seeing this.",
			isNew = true,
			title = "Task #2",
			guid = Guid.NewGuid()

		}
	}; //remove later

	List<Employee> employees = new List<Employee>
	{
		new Employee
		{
			email = "fakeemail1@test.com",
			guid = Guid.NewGuid(),
			name = "fakename 1"
		},
		new Employee
		{
			email = "fakeemail2@test.com",
			guid = Guid.NewGuid(),
			name = "fakename 2"
		},
		new Employee
		{
			email = "fakeemail3@test.com",
			guid = Guid.NewGuid(),
			name = "fakename 3"
		}
	};

	Goal goal = new Goal
	{
		guid = Guid.NewGuid(),
		completionPercentage = 15,
		projectGuid = Guid.NewGuid(),
		tasks = tasks
	};

	Models.Project project = new Project
	{
		tasks = tasks,
		assignees = employees,
		goal = goal,
		description = "This is a dummy description used for testing, please let me know if you see this after the testing phase since you shouldn't be seeing this.",
		title = "Project #1",
		isNew = false,
		guid = Guid.NewGuid()

	}; // < make this take the project with the GUID "@Model.projectId" this way the page displays relevant data to the project
}

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ProjectManagementTool</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/ProjectManagementTool.styles.css" asp-append-version="true" />
</head>

<body>
<div class="container-fluid h-100 pt-2 pb-2">
	<div class="container-fluid border m-0" id="navWrap" style="height: 10%">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Dropdown
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Action</a></li>
								<li><a class="dropdown-item" href="#">Another action</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="#">Something else here</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" aria-disabled="true">Disabled</a>
						</li>
					</ul>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
	</div>

	<div class="container-fluid p-2" style="height: 80%">
		<div class="d-flex flex-column h-100 gap-2">
			<div class="d-flex flex-row border" style="height: 10%">
				<div class="border" style="width: 60%">
					<h2>@project.title</h2>
				</div>
				<div class="d-flex flex-row border" style="width: 40%">
					<div class="w-75">
						<h3> Assignees </h3>
					</div> 
					<button class="btn btn-secondary w-25"> + </button>
				</div>
			</div>
			<div class="border h-75 overflow-y-scroll">
				@project.description
			</div>
			<div class="d-flex flex-row overflow-y-scroll" style="height: 40%;">
				<div class="border w-50">
					@await Html.PartialAsync("Shared/TasksView", new TasksViewModel{tasks = project.tasks})
				</div>
				<div class="border w-50">
					temporary filler text, this has to be replaced together with the div left of here since the view isn't the way I envisioned it in the design document.
				</div>
			</div>
		</div>
		</div>

	<div class="border p-2" style="height: 15%">
		@await Html.PartialAsync("Shared/GoalView", project.goal)
	</div>

</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

</body>