@model ProjectManagementTool.Models.NonBasicModels.Projects

<div class="container-fluid h-100 w-100 overflow-auto">
	<div class="accordion-flush" id="projectsAccordion">
		@if (Model.projects == null || !Model.projects.Any())
		{
			<div>Empty</div>
		}
		else
		{
			@foreach (var project in Model.projects)
			{
				<div class="accordion-item" id="accordion-@project.guid">
					<h2 class="accordion-header" id="heading-@project.guid">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@project.guid" aria-expanded="false" aria-controls="collapse-@project.guid">
							@project.title
							@if (project.isNew)
							{
								<p> </p>
								<span class="badge bg-secondary">New</span>
							}
						</button>
					</h2>
					<div id="collapse-@project.guid" class="accordion-collapse collapse" aria-labelledby="heading-@project.guid" data-bs-parent="#projectsAccordion">
						<div class="accordion-body">
							<p>
								@project.description
							</p>
							<a class="btn btn-secondary" asp-page="/projectOverview" asp-route-id="@project.guid">View project</a>
						</div>
					</div>
				</div>
			}
		}
	</div>
</div>