@using ProjectManagementTool.Models
@model ProjectManagementTool.Models.NonBasicModels.TasksViewModel

<div class="h-50 border p-2 gap-2" id="tasks">
@await Html.PartialAsync("Shared/TasksView", @Model)
</div>